:root{
    --text-gray:rgb(75 85 99 / var(--tw-text-opacity));
}
.detail-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.detial_item{
    flex: 30%;
    display: flex;
    align-items: flex-start;
    margin: 10px 10px;
   
   
}

.detial_item img{
    max-width: 60px;
}

.detail-item-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 8px;
   
}